export(processConcordance,
       html_document_with_concordance,
       html_vignette_with_concordance,
       html_with_concordance,
       pdf_document_with_concordance)

importFrom(rmarkdown, html_document, html_vignette, pdf_document)

if (getRversion() >= "4.3.0") {
  importFrom(tools, as.Rconcordance)
  importFrom(tools, matchConcordance)
} else {
  importFrom(backports, as.Rconcordance)
  importFrom(backports, matchConcordance)
}
